<div class="col=md-8 mt-2">
    <h5 class="text-danger">Customer Check History List</h5>
    <div class="card p-3 shadow">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Credit Card</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customerList">
                    <td>{{customer.customer_id}}</td>
                    <td>{{customer.full_name}}</td>
                    <td>{{customer.gender}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.mobile}}</td>
                    <td>{{customer.target}}</td>
                    <td></td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="deleteCustomer(customer)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>